web/WEB-INF/wsdl/localhost_8080/ServidorWebNotas/ServicioWeb.xsd_1.xsd

<?xml version='1.0' encoding='UTF-8'?><!-- Published by JAX-WS RI (http://jax-ws.java.net). RI's version is Metro/2.3.2-b608 (trunk-7979; 2015-01-21T12:50:19+0000) JAXWS-RI/2.2.11-b150120.1832 JAXWS-API/2.2.12 JAXB-RI/2.2.12-b141219.1637 JAXB-API/2.2.13-b141020.1521 svn-revision#unknown. --><xs:schema xmlns:tns="http://Service/" xmlns:xs="http://www.w3.org/2001/XMLSchema" version="1.0" targetNamespace="http://Service/">

<xs:element name="CreateGrado" type="tns:CreateGrado"/>

<xs:element name="CreateGradoResponse" type="tns:CreateGradoResponse"/>

<xs:element name="CreateSeccion" type="tns:CreateSeccion"/>

<xs:element name="CreateSeccionResponse" type="tns:CreateSeccionResponse"/>

<xs:element name="DeleteGrado" type="tns:DeleteGrado"/>

<xs:element name="DeleteGradoResponse" type="tns:DeleteGradoResponse"/>

<xs:element name="DeleteSeccion" type="tns:DeleteSeccion"/>

<xs:element name="DeleteSeccionResponse" type="tns:DeleteSeccionResponse"/>

<xs:element name="GetCarnetIfExists" type="tns:GetCarnetIfExists"/>

<xs:element name="GetCarnetIfExistsResponse" type="tns:GetCarnetIfExistsResponse"/>

<xs:element name="GetGrados" type="tns:GetGrados"/>

<xs:element name="GetGradosResponse" type="tns:GetGradosResponse"/>

<xs:element name="GetListGrados_Info" type="tns:GetListGrados_Info"/>

<xs:element name="GetListGrados_InfoResponse" type="tns:GetListGrados_InfoResponse"/>

<xs:element name="GetNiveles" type="tns:GetNiveles"/>

<xs:element name="GetNivelesResponse" type="tns:GetNivelesResponse"/>

<xs:element name="GetSecciones" type="tns:GetSecciones"/>

<xs:element name="GetSeccionesResponse" type="tns:GetSeccionesResponse"/>

<xs:element name="GetUsuarioIfExits" type="tns:GetUsuarioIfExits"/>

<xs:element name="GetUsuarioIfExitsResponse" type="tns:GetUsuarioIfExitsResponse"/>

<xs:element name="UpdateNombreGrado" type="tns:UpdateNombreGrado"/>

<xs:element name="UpdateNombreGradoResponse" type="tns:UpdateNombreGradoResponse"/>

<xs:element name="login" type="tns:login"/>

<xs:element name="loginResponse" type="tns:loginResponse"/>

<xs:complexType name="CreateGrado">
<xs:sequence>
<xs:element name="arg0" type="xs:string" minOccurs="0"/>
</xs:sequence>
</xs:complexType>

<xs:complexType name="CreateGradoResponse">
<xs:sequence>
<xs:element name="return" type="tns:grados" minOccurs="0"/>
</xs:sequence>
</xs:complexType>

<xs:complexType name="grados">
<xs:sequence>
<xs:element name="CONSULTA_RESULT" type="xs:boolean"/>
<xs:element name="ERROR_MESSAGE" type="xs:string" minOccurs="0"/>
<xs:element name="ESTADO" type="xs:anyType" nillable="true" minOccurs="0" maxOccurs="unbounded"/>
<xs:element name="GRADO" type="xs:anyType" nillable="true" minOccurs="0" maxOccurs="unbounded"/>
<xs:element name="ID" type="xs:anyType" nillable="true" minOccurs="0" maxOccurs="unbounded"/>
<xs:element name="SECCIONES" type="xs:anyType" nillable="true" minOccurs="0" maxOccurs="unbounded"/>
</xs:sequence>
</xs:complexType>

<xs:complexType name="GetSecciones">
<xs:sequence>
<xs:element name="arg0" type="xs:int"/>
</xs:sequence>
</xs:complexType>

<xs:complexType name="GetSeccionesResponse">
<xs:sequence>
<xs:element name="return" type="tns:secciones" minOccurs="0"/>
</xs:sequence>
</xs:complexType>

<xs:complexType name="secciones">
<xs:sequence>
<xs:element name="ERROR_MESSAGE" type="xs:string" minOccurs="0"/>
<xs:element name="ESTADO" type="xs:anyType" nillable="true" minOccurs="0" maxOccurs="unbounded"/>
<xs:element name="ID_GRADO" type="xs:anyType" nillable="true" minOccurs="0" maxOccurs="unbounded"/>
<xs:element name="ID_SECCION" type="xs:anyType" nillable="true" minOccurs="0" maxOccurs="unbounded"/>
<xs:element name="RESP_CONSULTA" type="xs:boolean"/>
<xs:element name="SECCION" type="xs:anyType" nillable="true" minOccurs="0" maxOccurs="unbounded"/>
</xs:sequence>
</xs:complexType>

<xs:complexType name="GetUsuarioIfExits">
<xs:sequence>
<xs:element name="arg0" type="xs:string" minOccurs="0"/>
</xs:sequence>
</xs:complexType>

<xs:complexType name="GetUsuarioIfExitsResponse">
<xs:sequence>
<xs:element name="return" type="xs:boolean"/>
</xs:sequence>
</xs:complexType>

<xs:complexType name="DeleteGrado">
<xs:sequence>
<xs:element name="arg0" type="xs:int"/>
</xs:sequence>
</xs:complexType>

<xs:complexType name="DeleteGradoResponse">
<xs:sequence>
<xs:element name="return" type="tns:grados" minOccurs="0"/>
</xs:sequence>
</xs:complexType>

<xs:complexType name="GetNiveles">
<xs:sequence/>
</xs:complexType>

<xs:complexType name="GetNivelesResponse">
<xs:sequence>
<xs:element name="return" type="xs:string" minOccurs="0"/>
</xs:sequence>
</xs:complexType>

<xs:complexType name="GetListGrados_Info">
<xs:sequence/>
</xs:complexType>

<xs:complexType name="GetListGrados_InfoResponse">
<xs:sequence>
<xs:element name="return" type="tns:grados" minOccurs="0"/>
</xs:sequence>
</xs:complexType>

<xs:complexType name="login">
<xs:sequence>
<xs:element name="arg0" type="xs:string" minOccurs="0"/>
<xs:element name="arg1" type="xs:string" minOccurs="0"/>
</xs:sequence>
</xs:complexType>

<xs:complexType name="loginResponse">
<xs:sequence>
<xs:element name="return" type="xs:int"/>
</xs:sequence>
</xs:complexType>

<xs:complexType name="GetGrados">
<xs:sequence/>
</xs:complexType>

<xs:complexType name="GetGradosResponse">
<xs:sequence>
<xs:element name="return" type="tns:grados" minOccurs="0"/>
</xs:sequence>
</xs:complexType>

<xs:complexType name="DeleteSeccion">
<xs:sequence>
<xs:element name="ID" type="xs:int"/>
</xs:sequence>
</xs:complexType>

<xs:complexType name="DeleteSeccionResponse">
<xs:sequence>
<xs:element name="return" type="tns:secciones" minOccurs="0"/>
</xs:sequence>
</xs:complexType>

<xs:complexType name="UpdateNombreGrado">
<xs:sequence>
<xs:element name="arg0" type="xs:int"/>
<xs:element name="arg1" type="xs:string" minOccurs="0"/>
</xs:sequence>
</xs:complexType>

<xs:complexType name="UpdateNombreGradoResponse">
<xs:sequence>
<xs:element name="return" type="tns:grados" minOccurs="0"/>
</xs:sequence>
</xs:complexType>

<xs:complexType name="GetCarnetIfExists">
<xs:sequence>
<xs:element name="arg0" type="xs:string" minOccurs="0"/>
</xs:sequence>
</xs:complexType>

<xs:complexType name="GetCarnetIfExistsResponse">
<xs:sequence>
<xs:element name="return" type="xs:boolean"/>
</xs:sequence>
</xs:complexType>

<xs:complexType name="CreateSeccion">
<xs:sequence>
<xs:element name="arg0" type="xs:int"/>
<xs:element name="arg1" type="xs:string" minOccurs="0"/>
</xs:sequence>
</xs:complexType>

<xs:complexType name="CreateSeccionResponse">
<xs:sequence>
<xs:element name="return" type="tns:secciones" minOccurs="0"/>
</xs:sequence>
</xs:complexType>
</xs:schema>