src/conf/xml-resources/web-service-references/ServicioWeb/wsdl/localhost_8080/ServidorWebNotas/ServicioWeb.xsd_1.xsd

<?xml version='1.0' encoding='UTF-8'?><!-- Published by JAX-WS RI (http://jax-ws.java.net). RI's version is Metro/2.3.2-b608 (trunk-7979; 2015-01-21T12:50:19+0000) JAXWS-RI/2.2.11-b150120.1832 JAXWS-API/2.2.12 JAXB-RI/2.2.12-b141219.1637 JAXB-API/2.2.13-b141020.1521 svn-revision#unknown. --><xs:schema xmlns:tns="http://Service/" xmlns:xs="http://www.w3.org/2001/XMLSchema" version="1.0" targetNamespace="http://Service/">

<xs:element name="CancelarNotasRevision" type="tns:CancelarNotasRevision"/>

<xs:element name="CancelarNotasRevisionResponse" type="tns:CancelarNotasRevisionResponse"/>

<xs:element name="CreateAlumno" type="tns:CreateAlumno"/>

<xs:element name="CreateAlumnoResponse" type="tns:CreateAlumnoResponse"/>

<xs:element name="CreateGrado" type="tns:CreateGrado"/>

<xs:element name="CreateGradoResponse" type="tns:CreateGradoResponse"/>

<xs:element name="CreateMateria" type="tns:CreateMateria"/>

<xs:element name="CreateMateriaGrado" type="tns:CreateMateriaGrado"/>

<xs:element name="CreateMateriaGradoResponse" type="tns:CreateMateriaGradoResponse"/>

<xs:element name="CreateMateriaResponse" type="tns:CreateMateriaResponse"/>

<xs:element name="CreateSeccion" type="tns:CreateSeccion"/>

<xs:element name="CreateSeccionResponse" type="tns:CreateSeccionResponse"/>

<xs:element name="CreateUser" type="tns:CreateUser"/>

<xs:element name="CreateUserResponse" type="tns:CreateUserResponse"/>

<xs:element name="DeleteDocente" type="tns:DeleteDocente"/>

<xs:element name="DeleteDocenteResponse" type="tns:DeleteDocenteResponse"/>

<xs:element name="DeleteEvaluacion" type="tns:DeleteEvaluacion"/>

<xs:element name="DeleteEvaluacionResponse" type="tns:DeleteEvaluacionResponse"/>

<xs:element name="DeleteGrado" type="tns:DeleteGrado"/>

<xs:element name="DeleteGradoResponse" type="tns:DeleteGradoResponse"/>

<xs:element name="DeleteMateria" type="tns:DeleteMateria"/>

<xs:element name="DeleteMateriaDocente" type="tns:DeleteMateriaDocente"/>

<xs:element name="DeleteMateriaDocenteResponse" type="tns:DeleteMateriaDocenteResponse"/>

<xs:element name="DeleteMateriaGrado" type="tns:DeleteMateriaGrado"/>

<xs:element name="DeleteMateriaGradoResponse" type="tns:DeleteMateriaGradoResponse"/>

<xs:element name="DeleteMateriaResponse" type="tns:DeleteMateriaResponse"/>

<xs:element name="DeleteSeccion" type="tns:DeleteSeccion"/>

<xs:element name="DeleteSeccionResponse" type="tns:DeleteSeccionResponse"/>

<xs:element name="EvaluaciondeHoy" type="tns:EvaluaciondeHoy"/>

<xs:element name="EvaluaciondeHoyResponse" type="tns:EvaluaciondeHoyResponse"/>

<xs:element name="GetCarnetIfExists" type="tns:GetCarnetIfExists"/>

<xs:element name="GetCarnetIfExistsResponse" type="tns:GetCarnetIfExistsResponse"/>

<xs:element name="GetGrados" type="tns:GetGrados"/>

<xs:element name="GetGradosResponse" type="tns:GetGradosResponse"/>

<xs:element name="GetListDocentes" type="tns:GetListDocentes"/>

<xs:element name="GetListDocentesResponse" type="tns:GetListDocentesResponse"/>

<xs:element name="GetListGradosWithSecciones" type="tns:GetListGradosWithSecciones"/>

<xs:element name="GetListGradosWithSeccionesResponse" type="tns:GetListGradosWithSeccionesResponse"/>

<xs:element name="GetListGrados_Info" type="tns:GetListGrados_Info"/>

<xs:element name="GetListGrados_InfoResponse" type="tns:GetListGrados_InfoResponse"/>

<xs:element name="GetMateriaDocente" type="tns:GetMateriaDocente"/>

<xs:element name="GetMateriaDocenteResponse" type="tns:GetMateriaDocenteResponse"/>

<xs:element name="GetMateriasWithoutDocenteBySeccion" type="tns:GetMateriasWithoutDocenteBySeccion"/>

<xs:element name="GetMateriasWithoutDocenteBySeccionResponse" type="tns:GetMateriasWithoutDocenteBySeccionResponse"/>

<xs:element name="GetNiveles" type="tns:GetNiveles"/>

<xs:element name="GetNivelesResponse" type="tns:GetNivelesResponse"/>

<xs:element name="GetSecciones" type="tns:GetSecciones"/>

<xs:element name="GetSeccionesResponse" type="tns:GetSeccionesResponse"/>

<xs:element name="GetUsuarioIfExits" type="tns:GetUsuarioIfExits"/>

<xs:element name="GetUsuarioIfExitsResponse" type="tns:GetUsuarioIfExitsResponse"/>

<xs:element name="InsertarMateriaDocente" type="tns:InsertarMateriaDocente"/>

<xs:element name="InsertarMateriaDocenteResponse" type="tns:InsertarMateriaDocenteResponse"/>

<xs:element name="ListAlumnosfromSeccion" type="tns:ListAlumnosfromSeccion"/>

<xs:element name="ListAlumnosfromSeccionResponse" type="tns:ListAlumnosfromSeccionResponse"/>

<xs:element name="ListEvaluaciones" type="tns:ListEvaluaciones"/>

<xs:element name="ListEvaluacionesResponse" type="tns:ListEvaluacionesResponse"/>

<xs:element name="ListMaterias" type="tns:ListMaterias"/>

<xs:element name="ListMateriasNotInGrados" type="tns:ListMateriasNotInGrados"/>

<xs:element name="ListMateriasNotInGradosResponse" type="tns:ListMateriasNotInGradosResponse"/>

<xs:element name="ListMateriasResponse" type="tns:ListMateriasResponse"/>

<xs:element name="ListarMateriasGrados" type="tns:ListarMateriasGrados"/>

<xs:element name="ListarMateriasGradosResponse" type="tns:ListarMateriasGradosResponse"/>

<xs:element name="SubirNotasRevision" type="tns:SubirNotasRevision"/>

<xs:element name="SubirNotasRevisionResponse" type="tns:SubirNotasRevisionResponse"/>

<xs:element name="UpdateNombreGrado" type="tns:UpdateNombreGrado"/>

<xs:element name="UpdateNombreGradoResponse" type="tns:UpdateNombreGradoResponse"/>

<xs:element name="ValidarCodigoMateria" type="tns:ValidarCodigoMateria"/>

<xs:element name="ValidarCodigoMateriaResponse" type="tns:ValidarCodigoMateriaResponse"/>

<xs:element name="getGradosByDocente" type="tns:getGradosByDocente"/>

<xs:element name="getGradosByDocenteResponse" type="tns:getGradosByDocenteResponse"/>

<xs:element name="getIdDocente" type="tns:getIdDocente"/>

<xs:element name="getIdDocenteResponse" type="tns:getIdDocenteResponse"/>

<xs:element name="getMisSecciones" type="tns:getMisSecciones"/>

<xs:element name="getMisSeccionesResponse" type="tns:getMisSeccionesResponse"/>

<xs:element name="getSeccionesByDocente" type="tns:getSeccionesByDocente"/>

<xs:element name="getSeccionesByDocenteResponse" type="tns:getSeccionesByDocenteResponse"/>

<xs:element name="getSeccionesConNotas" type="tns:getSeccionesConNotas"/>

<xs:element name="getSeccionesConNotasRechazado" type="tns:getSeccionesConNotasRechazado"/>

<xs:element name="getSeccionesConNotasRechazadoResponse" type="tns:getSeccionesConNotasRechazadoResponse"/>

<xs:element name="getSeccionesConNotasResponse" type="tns:getSeccionesConNotasResponse"/>

<xs:element name="getSeccionesConNotasRevision" type="tns:getSeccionesConNotasRevision"/>

<xs:element name="getSeccionesConNotasRevisionResponse" type="tns:getSeccionesConNotasRevisionResponse"/>

<xs:element name="getSeccionesSinNotas" type="tns:getSeccionesSinNotas"/>

<xs:element name="getSeccionesSinNotasResponse" type="tns:getSeccionesSinNotasResponse"/>

<xs:element name="login" type="tns:login"/>

<xs:element name="loginResponse" type="tns:loginResponse"/>

<xs:element name="setEvaluacion" type="tns:setEvaluacion"/>

<xs:element name="setEvaluacionResponse" type="tns:setEvaluacionResponse"/>

<xs:element name="validarEvaluacion" type="tns:validarEvaluacion"/>

<xs:element name="validarEvaluacionResponse" type="tns:validarEvaluacionResponse"/>

<xs:complexType name="ValidarCodigoMateria">
<xs:sequence>
<xs:element name="CODIGO" type="xs:string" minOccurs="0"/>
</xs:sequence>
</xs:complexType>

<xs:complexType name="ValidarCodigoMateriaResponse">
<xs:sequence>
<xs:element name="return" type="tns:materias" minOccurs="0"/>
</xs:sequence>
</xs:complexType>

<xs:complexType name="materias">
<xs:sequence>
<xs:element name="CODIGO_MATERIA" type="xs:anyType" nillable="true" minOccurs="0" maxOccurs="unbounded"/>
<xs:element name="ESTADO" type="xs:anyType" nillable="true" minOccurs="0" maxOccurs="unbounded"/>
<xs:element name="FECHA" type="xs:anyType" nillable="true" minOccurs="0" maxOccurs="unbounded"/>
<xs:element name="ID_MATERIA" type="xs:anyType" nillable="true" minOccurs="0" maxOccurs="unbounded"/>
<xs:element name="NOMBRE_MATERIA" type="xs:anyType" nillable="true" minOccurs="0" maxOccurs="unbounded"/>
<xs:element name="RESULT" type="xs:boolean"/>
</xs:sequence>
</xs:complexType>

<xs:complexType name="ListMateriasNotInGrados">
<xs:sequence>
<xs:element name="ID_GRADO" type="xs:int"/>
</xs:sequence>
</xs:complexType>

<xs:complexType name="ListMateriasNotInGradosResponse">
<xs:sequence>
<xs:element name="return" type="tns:materias" minOccurs="0"/>
</xs:sequence>
</xs:complexType>

<xs:complexType name="GetSecciones">
<xs:sequence>
<xs:element name="arg0" type="xs:int"/>
</xs:sequence>
</xs:complexType>

<xs:complexType name="GetSeccionesResponse">
<xs:sequence>
<xs:element name="return" type="tns:secciones" minOccurs="0"/>
</xs:sequence>
</xs:complexType>

<xs:complexType name="secciones">
<xs:sequence>
<xs:element name="ERROR_MESSAGE" type="xs:string" minOccurs="0"/>
<xs:element name="ESTADO" type="xs:anyType" nillable="true" minOccurs="0" maxOccurs="unbounded"/>
<xs:element name="ID_GRADO" type="xs:anyType" nillable="true" minOccurs="0" maxOccurs="unbounded"/>
<xs:element name="ID_SECCION" type="xs:anyType" nillable="true" minOccurs="0" maxOccurs="unbounded"/>
<xs:element name="RESP_CONSULTA" type="xs:boolean"/>
<xs:element name="SECCION" type="xs:anyType" nillable="true" minOccurs="0" maxOccurs="unbounded"/>
</xs:sequence>
</xs:complexType>

<xs:complexType name="CreateAlumno">
<xs:sequence>
<xs:element name="nie" type="xs:string" minOccurs="0"/>
<xs:element name="Nombre" type="xs:string" minOccurs="0"/>
<xs:element name="Apellido" type="xs:string" minOccurs="0"/>
<xs:element name="Fecha_Matricula" type="xs:string" minOccurs="0"/>
<xs:element name="ID_seccion" type="xs:int"/>
<xs:element name="Password" type="xs:string" minOccurs="0"/>
</xs:sequence>
</xs:complexType>

<xs:complexType name="CreateAlumnoResponse">
<xs:sequence>
<xs:element name="return" type="tns:alumno" minOccurs="0"/>
</xs:sequence>
</xs:complexType>

<xs:complexType name="alumno">
<xs:sequence>
<xs:element name="APELLIDO" type="xs:string" minOccurs="0"/>
<xs:element name="FECHA_MATRICULA" type="xs:string" minOccurs="0"/>
<xs:element name="ID_ALUMNOS" type="xs:int"/>
<xs:element name="ID_SECCION" type="xs:int"/>
<xs:element name="NIE" type="xs:string" minOccurs="0"/>
<xs:element name="NOMBRE" type="xs:string" minOccurs="0"/>
<xs:element name="RESULT" type="xs:boolean"/>
</xs:sequence>
</xs:complexType>

<xs:complexType name="GetListDocentes">
<xs:sequence/>
</xs:complexType>

<xs:complexType name="GetListDocentesResponse">
<xs:sequence>
<xs:element name="return" type="tns:docente" minOccurs="0"/>
</xs:sequence>
</xs:complexType>

<xs:complexType name="docente">
<xs:sequence>
<xs:element name="APELLIDO" type="xs:anyType" nillable="true" minOccurs="0" maxOccurs="unbounded"/>
<xs:element name="CODIGO_MATERIA" type="xs:anyType" nillable="true" minOccurs="0" maxOccurs="unbounded"/>
<xs:element name="ESTADO" type="xs:anyType" nillable="true" minOccurs="0" maxOccurs="unbounded"/>
<xs:element name="GRADO" type="xs:anyType" nillable="true" minOccurs="0" maxOccurs="unbounded"/>
<xs:element name="ID_DOCENTE" type="xs:anyType" nillable="true" minOccurs="0" maxOccurs="unbounded"/>
<xs:element name="ID_MATERIA_DOCENTE" type="xs:anyType" nillable="true" minOccurs="0" maxOccurs="unbounded"/>
<xs:element name="ID_SECCION_DOCENTE" type="xs:anyType" nillable="true" minOccurs="0" maxOccurs="unbounded"/>
<xs:element name="ID_USUARIO" type="xs:anyType" nillable="true" minOccurs="0" maxOccurs="unbounded"/>
<xs:element name="NOMBRE" type="xs:anyType" nillable="true" minOccurs="0" maxOccurs="unbounded"/>
<xs:element name="NOMBRE_MATERIA" type="xs:anyType" nillable="true" minOccurs="0" maxOccurs="unbounded"/>
<xs:element name="RESULT" type="xs:boolean"/>
<xs:element name="SECCION" type="xs:anyType" nillable="true" minOccurs="0" maxOccurs="unbounded"/>
</xs:sequence>
</xs:complexType>

<xs:complexType name="GetListGradosWithSecciones">
<xs:sequence/>
</xs:complexType>

<xs:complexType name="GetListGradosWithSeccionesResponse">
<xs:sequence>
<xs:element name="return" type="tns:grados" minOccurs="0"/>
</xs:sequence>
</xs:complexType>

<xs:complexType name="grados">
<xs:sequence>
<xs:element name="CONSULTA_RESULT" type="xs:boolean"/>
<xs:element name="ERROR_MESSAGE" type="xs:string" minOccurs="0"/>
<xs:element name="ESTADO" type="xs:anyType" nillable="true" minOccurs="0" maxOccurs="unbounded"/>
<xs:element name="GRADO" type="xs:anyType" nillable="true" minOccurs="0" maxOccurs="unbounded"/>
<xs:element name="ID" type="xs:anyType" nillable="true" minOccurs="0" maxOccurs="unbounded"/>
<xs:element name="SECCIONES" type="xs:anyType" nillable="true" minOccurs="0" maxOccurs="unbounded"/>
</xs:sequence>
</xs:complexType>

<xs:complexType name="login">
<xs:sequence>
<xs:element name="arg0" type="xs:string" minOccurs="0"/>
<xs:element name="arg1" type="xs:string" minOccurs="0"/>
</xs:sequence>
</xs:complexType>

<xs:complexType name="loginResponse">
<xs:sequence>
<xs:element name="return" type="xs:int"/>
</xs:sequence>
</xs:complexType>

<xs:complexType name="getSeccionesSinNotas">
<xs:sequence>
<xs:element name="IdDocente" type="xs:int"/>
</xs:sequence>
</xs:complexType>

<xs:complexType name="getSeccionesSinNotasResponse">
<xs:sequence>
<xs:element name="return" type="tns:docente" minOccurs="0"/>
</xs:sequence>
</xs:complexType>

<xs:complexType name="CreateUser">
<xs:sequence>
<xs:element name="Usuario" type="xs:string" minOccurs="0"/>
<xs:element name="Pass" type="xs:string" minOccurs="0"/>
<xs:element name="Nombre" type="xs:string" minOccurs="0"/>
<xs:element name="Apellido" type="xs:string" minOccurs="0"/>
<xs:element name="Correo" type="xs:string" minOccurs="0"/>
<xs:element name="Nivel" type="xs:int"/>
</xs:sequence>
</xs:complexType>

<xs:complexType name="CreateUserResponse">
<xs:sequence>
<xs:element name="return" type="tns:usuario" minOccurs="0"/>
</xs:sequence>
</xs:complexType>

<xs:complexType name="usuario">
<xs:sequence>
<xs:element name="APELLIDO" type="xs:string" minOccurs="0"/>
<xs:element name="CODIGO_DOCENTE" type="xs:int"/>
<xs:element name="CORREO" type="xs:string" minOccurs="0"/>
<xs:element name="ID_USUARIO" type="xs:int"/>
<xs:element name="NIVEL" type="xs:int"/>
<xs:element name="NOMBRE" type="xs:string" minOccurs="0"/>
<xs:element name="NOMBRE_USUARIO" type="xs:string" minOccurs="0"/>
<xs:element name="PASSWORD" type="xs:string" minOccurs="0"/>
<xs:element name="RESULT" type="xs:boolean"/>
</xs:sequence>
</xs:complexType>

<xs:complexType name="getIdDocente">
<xs:sequence>
<xs:element name="Usuario" type="xs:string" minOccurs="0"/>
</xs:sequence>
</xs:complexType>

<xs:complexType name="getIdDocenteResponse">
<xs:sequence>
<xs:element name="return" type="tns:docente" minOccurs="0"/>
</xs:sequence>
</xs:complexType>

<xs:complexType name="UpdateNombreGrado">
<xs:sequence>
<xs:element name="arg0" type="xs:int"/>
<xs:element name="arg1" type="xs:string" minOccurs="0"/>
</xs:sequence>
</xs:complexType>

<xs:complexType name="UpdateNombreGradoResponse">
<xs:sequence>
<xs:element name="return" type="tns:grados" minOccurs="0"/>
</xs:sequence>
</xs:complexType>

<xs:complexType name="setEvaluacion">
<xs:sequence>
<xs:element name="Num_Eval" type="xs:int"/>
<xs:element name="Inicio" type="xs:string" minOccurs="0"/>
<xs:element name="Fin" type="xs:string" minOccurs="0"/>
</xs:sequence>
</xs:complexType>

<xs:complexType name="setEvaluacionResponse">
<xs:sequence>
<xs:element name="return" type="tns:evaluaciones" minOccurs="0"/>
</xs:sequence>
</xs:complexType>

<xs:complexType name="evaluaciones">
<xs:sequence>
<xs:element name="ESTADO" type="xs:anyType" nillable="true" minOccurs="0" maxOccurs="unbounded"/>
<xs:element name="FIN" type="xs:anyType" nillable="true" minOccurs="0" maxOccurs="unbounded"/>
<xs:element name="ID_EVALUACION" type="xs:anyType" nillable="true" minOccurs="0" maxOccurs="unbounded"/>
<xs:element name="INICIO" type="xs:anyType" nillable="true" minOccurs="0" maxOccurs="unbounded"/>
<xs:element name="NUMERO_EVALUACION" type="xs:anyType" nillable="true" minOccurs="0" maxOccurs="unbounded"/>
<xs:element name="RESULT" type="xs:boolean"/>
</xs:sequence>
</xs:complexType>

<xs:complexType name="ListEvaluaciones">
<xs:sequence/>
</xs:complexType>

<xs:complexType name="ListEvaluacionesResponse">
<xs:sequence>
<xs:element name="return" type="tns:evaluaciones" minOccurs="0"/>
</xs:sequence>
</xs:complexType>

<xs:complexType name="DeleteMateriaGrado">
<xs:sequence>
<xs:element name="ID_MATERIA" type="xs:int"/>
<xs:element name="ID_GRADO" type="xs:int"/>
</xs:sequence>
</xs:complexType>

<xs:complexType name="DeleteMateriaGradoResponse">
<xs:sequence>
<xs:element name="return" type="tns:materias" minOccurs="0"/>
</xs:sequence>
</xs:complexType>

<xs:complexType name="DeleteDocente">
<xs:sequence>
<xs:element name="IdDocente" type="xs:int"/>
</xs:sequence>
</xs:complexType>

<xs:complexType name="DeleteDocenteResponse">
<xs:sequence>
<xs:element name="return" type="tns:docente" minOccurs="0"/>
</xs:sequence>
</xs:complexType>

<xs:complexType name="EvaluaciondeHoy">
<xs:sequence/>
</xs:complexType>

<xs:complexType name="EvaluaciondeHoyResponse">
<xs:sequence>
<xs:element name="return" type="tns:evaluaciones" minOccurs="0"/>
</xs:sequence>
</xs:complexType>

<xs:complexType name="getMisSecciones">
<xs:sequence>
<xs:element name="IdDocente" type="xs:int"/>
</xs:sequence>
</xs:complexType>

<xs:complexType name="getMisSeccionesResponse">
<xs:sequence>
<xs:element name="return" type="tns:docente" minOccurs="0"/>
</xs:sequence>
</xs:complexType>

<xs:complexType name="DeleteGrado">
<xs:sequence>
<xs:element name="arg0" type="xs:int"/>
</xs:sequence>
</xs:complexType>

<xs:complexType name="DeleteGradoResponse">
<xs:sequence>
<xs:element name="return" type="tns:grados" minOccurs="0"/>
</xs:sequence>
</xs:complexType>

<xs:complexType name="GetNiveles">
<xs:sequence/>
</xs:complexType>

<xs:complexType name="GetNivelesResponse">
<xs:sequence>
<xs:element name="return" type="xs:string" minOccurs="0"/>
</xs:sequence>
</xs:complexType>

<xs:complexType name="GetMateriasWithoutDocenteBySeccion">
<xs:sequence>
<xs:element name="IdSeccion" type="xs:int"/>
</xs:sequence>
</xs:complexType>

<xs:complexType name="GetMateriasWithoutDocenteBySeccionResponse">
<xs:sequence>
<xs:element name="return" type="tns:materias" minOccurs="0"/>
</xs:sequence>
</xs:complexType>

<xs:complexType name="getSeccionesConNotas">
<xs:sequence>
<xs:element name="IdDocente" type="xs:int"/>
</xs:sequence>
</xs:complexType>

<xs:complexType name="getSeccionesConNotasResponse">
<xs:sequence>
<xs:element name="return" type="tns:docente" minOccurs="0"/>
</xs:sequence>
</xs:complexType>

<xs:complexType name="CreateSeccion">
<xs:sequence>
<xs:element name="arg0" type="xs:int"/>
<xs:element name="arg1" type="xs:string" minOccurs="0"/>
</xs:sequence>
</xs:complexType>

<xs:complexType name="CreateSeccionResponse">
<xs:sequence>
<xs:element name="return" type="tns:secciones" minOccurs="0"/>
</xs:sequence>
</xs:complexType>

<xs:complexType name="ListMaterias">
<xs:sequence/>
</xs:complexType>

<xs:complexType name="ListMateriasResponse">
<xs:sequence>
<xs:element name="return" type="tns:materias" minOccurs="0"/>
</xs:sequence>
</xs:complexType>

<xs:complexType name="GetMateriaDocente">
<xs:sequence>
<xs:element name="IdDocente" type="xs:int"/>
</xs:sequence>
</xs:complexType>

<xs:complexType name="GetMateriaDocenteResponse">
<xs:sequence>
<xs:element name="return" type="tns:docente" minOccurs="0"/>
</xs:sequence>
</xs:complexType>

<xs:complexType name="CreateGrado">
<xs:sequence>
<xs:element name="arg0" type="xs:string" minOccurs="0"/>
</xs:sequence>
</xs:complexType>

<xs:complexType name="CreateGradoResponse">
<xs:sequence>
<xs:element name="return" type="tns:grados" minOccurs="0"/>
</xs:sequence>
</xs:complexType>

<xs:complexType name="GetUsuarioIfExits">
<xs:sequence>
<xs:element name="arg0" type="xs:string" minOccurs="0"/>
</xs:sequence>
</xs:complexType>

<xs:complexType name="GetUsuarioIfExitsResponse">
<xs:sequence>
<xs:element name="return" type="xs:boolean"/>
</xs:sequence>
</xs:complexType>

<xs:complexType name="CreateMateria">
<xs:sequence>
<xs:element name="Codigo" type="xs:string" minOccurs="0"/>
<xs:element name="Nombre" type="xs:string" minOccurs="0"/>
</xs:sequence>
</xs:complexType>

<xs:complexType name="CreateMateriaResponse">
<xs:sequence>
<xs:element name="return" type="tns:materias" minOccurs="0"/>
</xs:sequence>
</xs:complexType>

<xs:complexType name="SubirNotasRevision">
<xs:sequence>
<xs:element name="IdMateriaDocente" type="xs:int"/>
<xs:element name="FilePath" type="xs:string" minOccurs="0"/>
</xs:sequence>
</xs:complexType>

<xs:complexType name="SubirNotasRevisionResponse">
<xs:sequence>
<xs:element name="return" type="tns:notas" minOccurs="0"/>
</xs:sequence>
</xs:complexType>

<xs:complexType name="notas">
<xs:sequence>
<xs:element name="RESULT" type="xs:boolean"/>
</xs:sequence>
</xs:complexType>

<xs:complexType name="getSeccionesConNotasRevision">
<xs:sequence>
<xs:element name="IdDocente" type="xs:int"/>
</xs:sequence>
</xs:complexType>

<xs:complexType name="getSeccionesConNotasRevisionResponse">
<xs:sequence>
<xs:element name="return" type="tns:docente" minOccurs="0"/>
</xs:sequence>
</xs:complexType>

<xs:complexType name="GetGrados">
<xs:sequence/>
</xs:complexType>

<xs:complexType name="GetGradosResponse">
<xs:sequence>
<xs:element name="return" type="tns:grados" minOccurs="0"/>
</xs:sequence>
</xs:complexType>

<xs:complexType name="GetCarnetIfExists">
<xs:sequence>
<xs:element name="arg0" type="xs:string" minOccurs="0"/>
</xs:sequence>
</xs:complexType>

<xs:complexType name="GetCarnetIfExistsResponse">
<xs:sequence>
<xs:element name="return" type="xs:boolean"/>
</xs:sequence>
</xs:complexType>

<xs:complexType name="InsertarMateriaDocente">
<xs:sequence>
<xs:element name="IdDocente" type="xs:int"/>
<xs:element name="IdMateria" type="xs:int"/>
<xs:element name="IdSeccion" type="xs:int"/>
</xs:sequence>
</xs:complexType>

<xs:complexType name="InsertarMateriaDocenteResponse">
<xs:sequence>
<xs:element name="return" type="tns:materias" minOccurs="0"/>
</xs:sequence>
</xs:complexType>

<xs:complexType name="getSeccionesByDocente">
<xs:sequence>
<xs:element name="IdDocente" type="xs:int"/>
<xs:element name="IdGrado" type="xs:int"/>
</xs:sequence>
</xs:complexType>

<xs:complexType name="getSeccionesByDocenteResponse">
<xs:sequence>
<xs:element name="return" type="tns:secciones" minOccurs="0"/>
</xs:sequence>
</xs:complexType>

<xs:complexType name="validarEvaluacion">
<xs:sequence>
<xs:element name="Num_Eval" type="xs:int"/>
<xs:element name="Inicio" type="xs:string" minOccurs="0"/>
<xs:element name="Fin" type="xs:string" minOccurs="0"/>
</xs:sequence>
</xs:complexType>

<xs:complexType name="validarEvaluacionResponse">
<xs:sequence>
<xs:element name="return" type="tns:evaluaciones" minOccurs="0"/>
</xs:sequence>
</xs:complexType>

<xs:complexType name="DeleteEvaluacion">
<xs:sequence>
<xs:element name="IdEval" type="xs:int"/>
</xs:sequence>
</xs:complexType>

<xs:complexType name="DeleteEvaluacionResponse">
<xs:sequence>
<xs:element name="return" type="tns:evaluaciones" minOccurs="0"/>
</xs:sequence>
</xs:complexType>

<xs:complexType name="GetListGrados_Info">
<xs:sequence/>
</xs:complexType>

<xs:complexType name="GetListGrados_InfoResponse">
<xs:sequence>
<xs:element name="return" type="tns:grados" minOccurs="0"/>
</xs:sequence>
</xs:complexType>

<xs:complexType name="DeleteSeccion">
<xs:sequence>
<xs:element name="ID" type="xs:int"/>
</xs:sequence>
</xs:complexType>

<xs:complexType name="DeleteSeccionResponse">
<xs:sequence>
<xs:element name="return" type="tns:secciones" minOccurs="0"/>
</xs:sequence>
</xs:complexType>

<xs:complexType name="getSeccionesConNotasRechazado">
<xs:sequence>
<xs:element name="IdDocente" type="xs:int"/>
</xs:sequence>
</xs:complexType>

<xs:complexType name="getSeccionesConNotasRechazadoResponse">
<xs:sequence>
<xs:element name="return" type="tns:docente" minOccurs="0"/>
</xs:sequence>
</xs:complexType>

<xs:complexType name="getGradosByDocente">
<xs:sequence>
<xs:element name="IdDocente" type="xs:int"/>
</xs:sequence>
</xs:complexType>

<xs:complexType name="getGradosByDocenteResponse">
<xs:sequence>
<xs:element name="return" type="tns:grados" minOccurs="0"/>
</xs:sequence>
</xs:complexType>

<xs:complexType name="DeleteMateriaDocente">
<xs:sequence>
<xs:element name="IdMateriaDocente" type="xs:int"/>
</xs:sequence>
</xs:complexType>

<xs:complexType name="DeleteMateriaDocenteResponse">
<xs:sequence>
<xs:element name="return" type="tns:materias" minOccurs="0"/>
</xs:sequence>
</xs:complexType>

<xs:complexType name="ListAlumnosfromSeccion">
<xs:sequence>
<xs:element name="IdSeccion" type="xs:int"/>
</xs:sequence>
</xs:complexType>

<xs:complexType name="ListAlumnosfromSeccionResponse">
<xs:sequence>
<xs:element name="return" type="tns:alumnos" minOccurs="0"/>
</xs:sequence>
</xs:complexType>

<xs:complexType name="alumnos">
<xs:sequence>
<xs:element name="APELLIDO" type="xs:anyType" nillable="true" minOccurs="0" maxOccurs="unbounded"/>
<xs:element name="GRADO" type="xs:anyType" nillable="true" minOccurs="0" maxOccurs="unbounded"/>
<xs:element name="ID_ALUMNO" type="xs:anyType" nillable="true" minOccurs="0" maxOccurs="unbounded"/>
<xs:element name="NOMBRE" type="xs:anyType" nillable="true" minOccurs="0" maxOccurs="unbounded"/>
<xs:element name="NUMERO_ID" type="xs:anyType" nillable="true" minOccurs="0" maxOccurs="unbounded"/>
<xs:element name="RESULT" type="xs:boolean"/>
<xs:element name="SECCION" type="xs:anyType" nillable="true" minOccurs="0" maxOccurs="unbounded"/>
</xs:sequence>
</xs:complexType>

<xs:complexType name="DeleteMateria">
<xs:sequence>
<xs:element name="ID_Materia" type="xs:int"/>
</xs:sequence>
</xs:complexType>

<xs:complexType name="DeleteMateriaResponse">
<xs:sequence>
<xs:element name="return" type="tns:materias" minOccurs="0"/>
</xs:sequence>
</xs:complexType>

<xs:complexType name="CancelarNotasRevision">
<xs:sequence>
<xs:element name="IdMateriaDocente" type="xs:int"/>
</xs:sequence>
</xs:complexType>

<xs:complexType name="CancelarNotasRevisionResponse">
<xs:sequence>
<xs:element name="return" type="tns:notas" minOccurs="0"/>
</xs:sequence>
</xs:complexType>

<xs:complexType name="ListarMateriasGrados">
<xs:sequence>
<xs:element name="ID_GRADO" type="xs:int"/>
</xs:sequence>
</xs:complexType>

<xs:complexType name="ListarMateriasGradosResponse">
<xs:sequence>
<xs:element name="return" type="tns:materias" minOccurs="0"/>
</xs:sequence>
</xs:complexType>

<xs:complexType name="CreateMateriaGrado">
<xs:sequence>
<xs:element name="ID_MATERIA" type="xs:int"/>
<xs:element name="ID_GRADO" type="xs:int"/>
</xs:sequence>
</xs:complexType>

<xs:complexType name="CreateMateriaGradoResponse">
<xs:sequence>
<xs:element name="return" type="tns:materias" minOccurs="0"/>
</xs:sequence>
</xs:complexType>
</xs:schema>