src/conf/xml-resources/web-service-references/ServicioWeb/wsdl/localhost_8080/ServidorWebNotas/ServicioWeb.wsdl

<?xml version='1.0' encoding='UTF-8'?><!-- Published by JAX-WS RI (http://jax-ws.java.net). RI's version is Metro/2.3.2-b608 (trunk-7979; 2015-01-21T12:50:19+0000) JAXWS-RI/2.2.11-b150120.1832 JAXWS-API/2.2.12 JAXB-RI/2.2.12-b141219.1637 JAXB-API/2.2.13-b141020.1521 svn-revision#unknown. --><!-- Generated by JAX-WS RI (http://jax-ws.java.net). RI's version is Metro/2.3.2-b608 (trunk-7979; 2015-01-21T12:50:19+0000) JAXWS-RI/2.2.11-b150120.1832 JAXWS-API/2.2.12 JAXB-RI/2.2.12-b141219.1637 JAXB-API/2.2.13-b141020.1521 svn-revision#unknown. --><definitions xmlns:wsu="http://docs.oasis-open.org/wss/2004/01/oasis-200401-wss-wssecurity-utility-1.0.xsd" xmlns:wsp="http://www.w3.org/ns/ws-policy" xmlns:wsp1_2="http://schemas.xmlsoap.org/ws/2004/09/policy" xmlns:wsam="http://www.w3.org/2007/05/addressing/metadata" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:tns="http://Service/" xmlns:xsd="http://www.w3.org/2001/XMLSchema" xmlns="http://schemas.xmlsoap.org/wsdl/" targetNamespace="http://Service/" name="ServicioWeb">
<types>
<xsd:schema>
<xsd:import namespace="http://Service/" schemaLocation="http://localhost:8080/ServidorWebNotas/ServicioWeb?xsd=1"/>
</xsd:schema>
</types>
<message name="GetMateriasWithoutDocenteBySeccion">
<part name="parameters" element="tns:GetMateriasWithoutDocenteBySeccion"/>
</message>
<message name="GetMateriasWithoutDocenteBySeccionResponse">
<part name="parameters" element="tns:GetMateriasWithoutDocenteBySeccionResponse"/>
</message>
<message name="CancelarNotasRevision">
<part name="parameters" element="tns:CancelarNotasRevision"/>
</message>
<message name="CancelarNotasRevisionResponse">
<part name="parameters" element="tns:CancelarNotasRevisionResponse"/>
</message>
<message name="ValidarCodigoMateria">
<part name="parameters" element="tns:ValidarCodigoMateria"/>
</message>
<message name="ValidarCodigoMateriaResponse">
<part name="parameters" element="tns:ValidarCodigoMateriaResponse"/>
</message>
<message name="ListarMateriasGrados">
<part name="parameters" element="tns:ListarMateriasGrados"/>
</message>
<message name="ListarMateriasGradosResponse">
<part name="parameters" element="tns:ListarMateriasGradosResponse"/>
</message>
<message name="CreateMateriaGrado">
<part name="parameters" element="tns:CreateMateriaGrado"/>
</message>
<message name="CreateMateriaGradoResponse">
<part name="parameters" element="tns:CreateMateriaGradoResponse"/>
</message>
<message name="ListMateriasNotInGrados">
<part name="parameters" element="tns:ListMateriasNotInGrados"/>
</message>
<message name="ListMateriasNotInGradosResponse">
<part name="parameters" element="tns:ListMateriasNotInGradosResponse"/>
</message>
<message name="SubirNotasRevision">
<part name="parameters" element="tns:SubirNotasRevision"/>
</message>
<message name="SubirNotasRevisionResponse">
<part name="parameters" element="tns:SubirNotasRevisionResponse"/>
</message>
<message name="login">
<part name="parameters" element="tns:login"/>
</message>
<message name="loginResponse">
<part name="parameters" element="tns:loginResponse"/>
</message>
<message name="GetNiveles">
<part name="parameters" element="tns:GetNiveles"/>
</message>
<message name="GetNivelesResponse">
<part name="parameters" element="tns:GetNivelesResponse"/>
</message>
<message name="GetGrados">
<part name="parameters" element="tns:GetGrados"/>
</message>
<message name="GetGradosResponse">
<part name="parameters" element="tns:GetGradosResponse"/>
</message>
<message name="GetSecciones">
<part name="parameters" element="tns:GetSecciones"/>
</message>
<message name="GetSeccionesResponse">
<part name="parameters" element="tns:GetSeccionesResponse"/>
</message>
<message name="DeleteGrado">
<part name="parameters" element="tns:DeleteGrado"/>
</message>
<message name="DeleteGradoResponse">
<part name="parameters" element="tns:DeleteGradoResponse"/>
</message>
<message name="CreateGrado">
<part name="parameters" element="tns:CreateGrado"/>
</message>
<message name="CreateGradoResponse">
<part name="parameters" element="tns:CreateGradoResponse"/>
</message>
<message name="CreateSeccion">
<part name="parameters" element="tns:CreateSeccion"/>
</message>
<message name="CreateSeccionResponse">
<part name="parameters" element="tns:CreateSeccionResponse"/>
</message>
<message name="DeleteSeccion">
<part name="parameters" element="tns:DeleteSeccion"/>
</message>
<message name="DeleteSeccionResponse">
<part name="parameters" element="tns:DeleteSeccionResponse"/>
</message>
<message name="CreateUser">
<part name="parameters" element="tns:CreateUser"/>
</message>
<message name="CreateUserResponse">
<part name="parameters" element="tns:CreateUserResponse"/>
</message>
<message name="CreateAlumno">
<part name="parameters" element="tns:CreateAlumno"/>
</message>
<message name="CreateAlumnoResponse">
<part name="parameters" element="tns:CreateAlumnoResponse"/>
</message>
<message name="CreateMateria">
<part name="parameters" element="tns:CreateMateria"/>
</message>
<message name="CreateMateriaResponse">
<part name="parameters" element="tns:CreateMateriaResponse"/>
</message>
<message name="DeleteMateria">
<part name="parameters" element="tns:DeleteMateria"/>
</message>
<message name="DeleteMateriaResponse">
<part name="parameters" element="tns:DeleteMateriaResponse"/>
</message>
<message name="ListMaterias">
<part name="parameters" element="tns:ListMaterias"/>
</message>
<message name="ListMateriasResponse">
<part name="parameters" element="tns:ListMateriasResponse"/>
</message>
<message name="GetListDocentes">
<part name="parameters" element="tns:GetListDocentes"/>
</message>
<message name="GetListDocentesResponse">
<part name="parameters" element="tns:GetListDocentesResponse"/>
</message>
<message name="DeleteDocente">
<part name="parameters" element="tns:DeleteDocente"/>
</message>
<message name="DeleteDocenteResponse">
<part name="parameters" element="tns:DeleteDocenteResponse"/>
</message>
<message name="getIdDocente">
<part name="parameters" element="tns:getIdDocente"/>
</message>
<message name="getIdDocenteResponse">
<part name="parameters" element="tns:getIdDocenteResponse"/>
</message>
<message name="getMisSecciones">
<part name="parameters" element="tns:getMisSecciones"/>
</message>
<message name="getMisSeccionesResponse">
<part name="parameters" element="tns:getMisSeccionesResponse"/>
</message>
<message name="setEvaluacion">
<part name="parameters" element="tns:setEvaluacion"/>
</message>
<message name="setEvaluacionResponse">
<part name="parameters" element="tns:setEvaluacionResponse"/>
</message>
<message name="DeleteEvaluacion">
<part name="parameters" element="tns:DeleteEvaluacion"/>
</message>
<message name="DeleteEvaluacionResponse">
<part name="parameters" element="tns:DeleteEvaluacionResponse"/>
</message>
<message name="ListEvaluaciones">
<part name="parameters" element="tns:ListEvaluaciones"/>
</message>
<message name="ListEvaluacionesResponse">
<part name="parameters" element="tns:ListEvaluacionesResponse"/>
</message>
<message name="EvaluaciondeHoy">
<part name="parameters" element="tns:EvaluaciondeHoy"/>
</message>
<message name="EvaluaciondeHoyResponse">
<part name="parameters" element="tns:EvaluaciondeHoyResponse"/>
</message>
<message name="DeleteMateriaGrado">
<part name="parameters" element="tns:DeleteMateriaGrado"/>
</message>
<message name="DeleteMateriaGradoResponse">
<part name="parameters" element="tns:DeleteMateriaGradoResponse"/>
</message>
<message name="GetListGradosWithSecciones">
<part name="parameters" element="tns:GetListGradosWithSecciones"/>
</message>
<message name="GetListGradosWithSeccionesResponse">
<part name="parameters" element="tns:GetListGradosWithSeccionesResponse"/>
</message>
<message name="InsertarMateriaDocente">
<part name="parameters" element="tns:InsertarMateriaDocente"/>
</message>
<message name="InsertarMateriaDocenteResponse">
<part name="parameters" element="tns:InsertarMateriaDocenteResponse"/>
</message>
<message name="GetMateriaDocente">
<part name="parameters" element="tns:GetMateriaDocente"/>
</message>
<message name="GetMateriaDocenteResponse">
<part name="parameters" element="tns:GetMateriaDocenteResponse"/>
</message>
<message name="DeleteMateriaDocente">
<part name="parameters" element="tns:DeleteMateriaDocente"/>
</message>
<message name="DeleteMateriaDocenteResponse">
<part name="parameters" element="tns:DeleteMateriaDocenteResponse"/>
</message>
<message name="getGradosByDocente">
<part name="parameters" element="tns:getGradosByDocente"/>
</message>
<message name="getGradosByDocenteResponse">
<part name="parameters" element="tns:getGradosByDocenteResponse"/>
</message>
<message name="getSeccionesByDocente">
<part name="parameters" element="tns:getSeccionesByDocente"/>
</message>
<message name="getSeccionesByDocenteResponse">
<part name="parameters" element="tns:getSeccionesByDocenteResponse"/>
</message>
<message name="ListAlumnosfromSeccion">
<part name="parameters" element="tns:ListAlumnosfromSeccion"/>
</message>
<message name="ListAlumnosfromSeccionResponse">
<part name="parameters" element="tns:ListAlumnosfromSeccionResponse"/>
</message>
<message name="getSeccionesSinNotas">
<part name="parameters" element="tns:getSeccionesSinNotas"/>
</message>
<message name="getSeccionesSinNotasResponse">
<part name="parameters" element="tns:getSeccionesSinNotasResponse"/>
</message>
<message name="getSeccionesConNotas">
<part name="parameters" element="tns:getSeccionesConNotas"/>
</message>
<message name="getSeccionesConNotasResponse">
<part name="parameters" element="tns:getSeccionesConNotasResponse"/>
</message>
<message name="getSeccionesConNotasRevision">
<part name="parameters" element="tns:getSeccionesConNotasRevision"/>
</message>
<message name="getSeccionesConNotasRevisionResponse">
<part name="parameters" element="tns:getSeccionesConNotasRevisionResponse"/>
</message>
<message name="getSeccionesConNotasRechazado">
<part name="parameters" element="tns:getSeccionesConNotasRechazado"/>
</message>
<message name="getSeccionesConNotasRechazadoResponse">
<part name="parameters" element="tns:getSeccionesConNotasRechazadoResponse"/>
</message>
<message name="validarEvaluacion">
<part name="parameters" element="tns:validarEvaluacion"/>
</message>
<message name="validarEvaluacionResponse">
<part name="parameters" element="tns:validarEvaluacionResponse"/>
</message>
<message name="GetUsuarioIfExits">
<part name="parameters" element="tns:GetUsuarioIfExits"/>
</message>
<message name="GetUsuarioIfExitsResponse">
<part name="parameters" element="tns:GetUsuarioIfExitsResponse"/>
</message>
<message name="GetCarnetIfExists">
<part name="parameters" element="tns:GetCarnetIfExists"/>
</message>
<message name="GetCarnetIfExistsResponse">
<part name="parameters" element="tns:GetCarnetIfExistsResponse"/>
</message>
<message name="GetListGrados_Info">
<part name="parameters" element="tns:GetListGrados_Info"/>
</message>
<message name="GetListGrados_InfoResponse">
<part name="parameters" element="tns:GetListGrados_InfoResponse"/>
</message>
<message name="UpdateNombreGrado">
<part name="parameters" element="tns:UpdateNombreGrado"/>
</message>
<message name="UpdateNombreGradoResponse">
<part name="parameters" element="tns:UpdateNombreGradoResponse"/>
</message>
<portType name="ServicioWeb">
<operation name="GetMateriasWithoutDocenteBySeccion">
<input wsam:Action="http://Service/ServicioWeb/GetMateriasWithoutDocenteBySeccionRequest" message="tns:GetMateriasWithoutDocenteBySeccion"/>
<output wsam:Action="http://Service/ServicioWeb/GetMateriasWithoutDocenteBySeccionResponse" message="tns:GetMateriasWithoutDocenteBySeccionResponse"/>
</operation>
<operation name="CancelarNotasRevision">
<input wsam:Action="http://Service/ServicioWeb/CancelarNotasRevisionRequest" message="tns:CancelarNotasRevision"/>
<output wsam:Action="http://Service/ServicioWeb/CancelarNotasRevisionResponse" message="tns:CancelarNotasRevisionResponse"/>
</operation>
<operation name="ValidarCodigoMateria">
<input wsam:Action="http://Service/ServicioWeb/ValidarCodigoMateriaRequest" message="tns:ValidarCodigoMateria"/>
<output wsam:Action="http://Service/ServicioWeb/ValidarCodigoMateriaResponse" message="tns:ValidarCodigoMateriaResponse"/>
</operation>
<operation name="ListarMateriasGrados">
<input wsam:Action="http://Service/ServicioWeb/ListarMateriasGradosRequest" message="tns:ListarMateriasGrados"/>
<output wsam:Action="http://Service/ServicioWeb/ListarMateriasGradosResponse" message="tns:ListarMateriasGradosResponse"/>
</operation>
<operation name="CreateMateriaGrado">
<input wsam:Action="http://Service/ServicioWeb/CreateMateriaGradoRequest" message="tns:CreateMateriaGrado"/>
<output wsam:Action="http://Service/ServicioWeb/CreateMateriaGradoResponse" message="tns:CreateMateriaGradoResponse"/>
</operation>
<operation name="ListMateriasNotInGrados">
<input wsam:Action="http://Service/ServicioWeb/ListMateriasNotInGradosRequest" message="tns:ListMateriasNotInGrados"/>
<output wsam:Action="http://Service/ServicioWeb/ListMateriasNotInGradosResponse" message="tns:ListMateriasNotInGradosResponse"/>
</operation>
<operation name="SubirNotasRevision">
<input wsam:Action="http://Service/ServicioWeb/SubirNotasRevisionRequest" message="tns:SubirNotasRevision"/>
<output wsam:Action="http://Service/ServicioWeb/SubirNotasRevisionResponse" message="tns:SubirNotasRevisionResponse"/>
</operation>
<operation name="login">
<input wsam:Action="http://Service/ServicioWeb/loginRequest" message="tns:login"/>
<output wsam:Action="http://Service/ServicioWeb/loginResponse" message="tns:loginResponse"/>
</operation>
<operation name="GetNiveles">
<input wsam:Action="http://Service/ServicioWeb/GetNivelesRequest" message="tns:GetNiveles"/>
<output wsam:Action="http://Service/ServicioWeb/GetNivelesResponse" message="tns:GetNivelesResponse"/>
</operation>
<operation name="GetGrados">
<input wsam:Action="http://Service/ServicioWeb/GetGradosRequest" message="tns:GetGrados"/>
<output wsam:Action="http://Service/ServicioWeb/GetGradosResponse" message="tns:GetGradosResponse"/>
</operation>
<operation name="GetSecciones">
<input wsam:Action="http://Service/ServicioWeb/GetSeccionesRequest" message="tns:GetSecciones"/>
<output wsam:Action="http://Service/ServicioWeb/GetSeccionesResponse" message="tns:GetSeccionesResponse"/>
</operation>
<operation name="DeleteGrado">
<input wsam:Action="http://Service/ServicioWeb/DeleteGradoRequest" message="tns:DeleteGrado"/>
<output wsam:Action="http://Service/ServicioWeb/DeleteGradoResponse" message="tns:DeleteGradoResponse"/>
</operation>
<operation name="CreateGrado">
<input wsam:Action="http://Service/ServicioWeb/CreateGradoRequest" message="tns:CreateGrado"/>
<output wsam:Action="http://Service/ServicioWeb/CreateGradoResponse" message="tns:CreateGradoResponse"/>
</operation>
<operation name="CreateSeccion">
<input wsam:Action="http://Service/ServicioWeb/CreateSeccionRequest" message="tns:CreateSeccion"/>
<output wsam:Action="http://Service/ServicioWeb/CreateSeccionResponse" message="tns:CreateSeccionResponse"/>
</operation>
<operation name="DeleteSeccion">
<input wsam:Action="http://Service/ServicioWeb/DeleteSeccionRequest" message="tns:DeleteSeccion"/>
<output wsam:Action="http://Service/ServicioWeb/DeleteSeccionResponse" message="tns:DeleteSeccionResponse"/>
</operation>
<operation name="CreateUser">
<input wsam:Action="http://Service/ServicioWeb/CreateUserRequest" message="tns:CreateUser"/>
<output wsam:Action="http://Service/ServicioWeb/CreateUserResponse" message="tns:CreateUserResponse"/>
</operation>
<operation name="CreateAlumno">
<input wsam:Action="http://Service/ServicioWeb/CreateAlumnoRequest" message="tns:CreateAlumno"/>
<output wsam:Action="http://Service/ServicioWeb/CreateAlumnoResponse" message="tns:CreateAlumnoResponse"/>
</operation>
<operation name="CreateMateria">
<input wsam:Action="http://Service/ServicioWeb/CreateMateriaRequest" message="tns:CreateMateria"/>
<output wsam:Action="http://Service/ServicioWeb/CreateMateriaResponse" message="tns:CreateMateriaResponse"/>
</operation>
<operation name="DeleteMateria">
<input wsam:Action="http://Service/ServicioWeb/DeleteMateriaRequest" message="tns:DeleteMateria"/>
<output wsam:Action="http://Service/ServicioWeb/DeleteMateriaResponse" message="tns:DeleteMateriaResponse"/>
</operation>
<operation name="ListMaterias">
<input wsam:Action="http://Service/ServicioWeb/ListMateriasRequest" message="tns:ListMaterias"/>
<output wsam:Action="http://Service/ServicioWeb/ListMateriasResponse" message="tns:ListMateriasResponse"/>
</operation>
<operation name="GetListDocentes">
<input wsam:Action="http://Service/ServicioWeb/GetListDocentesRequest" message="tns:GetListDocentes"/>
<output wsam:Action="http://Service/ServicioWeb/GetListDocentesResponse" message="tns:GetListDocentesResponse"/>
</operation>
<operation name="DeleteDocente">
<input wsam:Action="http://Service/ServicioWeb/DeleteDocenteRequest" message="tns:DeleteDocente"/>
<output wsam:Action="http://Service/ServicioWeb/DeleteDocenteResponse" message="tns:DeleteDocenteResponse"/>
</operation>
<operation name="getIdDocente">
<input wsam:Action="http://Service/ServicioWeb/getIdDocenteRequest" message="tns:getIdDocente"/>
<output wsam:Action="http://Service/ServicioWeb/getIdDocenteResponse" message="tns:getIdDocenteResponse"/>
</operation>
<operation name="getMisSecciones">
<input wsam:Action="http://Service/ServicioWeb/getMisSeccionesRequest" message="tns:getMisSecciones"/>
<output wsam:Action="http://Service/ServicioWeb/getMisSeccionesResponse" message="tns:getMisSeccionesResponse"/>
</operation>
<operation name="setEvaluacion">
<input wsam:Action="http://Service/ServicioWeb/setEvaluacionRequest" message="tns:setEvaluacion"/>
<output wsam:Action="http://Service/ServicioWeb/setEvaluacionResponse" message="tns:setEvaluacionResponse"/>
</operation>
<operation name="DeleteEvaluacion">
<input wsam:Action="http://Service/ServicioWeb/DeleteEvaluacionRequest" message="tns:DeleteEvaluacion"/>
<output wsam:Action="http://Service/ServicioWeb/DeleteEvaluacionResponse" message="tns:DeleteEvaluacionResponse"/>
</operation>
<operation name="ListEvaluaciones">
<input wsam:Action="http://Service/ServicioWeb/ListEvaluacionesRequest" message="tns:ListEvaluaciones"/>
<output wsam:Action="http://Service/ServicioWeb/ListEvaluacionesResponse" message="tns:ListEvaluacionesResponse"/>
</operation>
<operation name="EvaluaciondeHoy">
<input wsam:Action="http://Service/ServicioWeb/EvaluaciondeHoyRequest" message="tns:EvaluaciondeHoy"/>
<output wsam:Action="http://Service/ServicioWeb/EvaluaciondeHoyResponse" message="tns:EvaluaciondeHoyResponse"/>
</operation>
<operation name="DeleteMateriaGrado">
<input wsam:Action="http://Service/ServicioWeb/DeleteMateriaGradoRequest" message="tns:DeleteMateriaGrado"/>
<output wsam:Action="http://Service/ServicioWeb/DeleteMateriaGradoResponse" message="tns:DeleteMateriaGradoResponse"/>
</operation>
<operation name="GetListGradosWithSecciones">
<input wsam:Action="http://Service/ServicioWeb/GetListGradosWithSeccionesRequest" message="tns:GetListGradosWithSecciones"/>
<output wsam:Action="http://Service/ServicioWeb/GetListGradosWithSeccionesResponse" message="tns:GetListGradosWithSeccionesResponse"/>
</operation>
<operation name="InsertarMateriaDocente">
<input wsam:Action="http://Service/ServicioWeb/InsertarMateriaDocenteRequest" message="tns:InsertarMateriaDocente"/>
<output wsam:Action="http://Service/ServicioWeb/InsertarMateriaDocenteResponse" message="tns:InsertarMateriaDocenteResponse"/>
</operation>
<operation name="GetMateriaDocente">
<input wsam:Action="http://Service/ServicioWeb/GetMateriaDocenteRequest" message="tns:GetMateriaDocente"/>
<output wsam:Action="http://Service/ServicioWeb/GetMateriaDocenteResponse" message="tns:GetMateriaDocenteResponse"/>
</operation>
<operation name="DeleteMateriaDocente">
<input wsam:Action="http://Service/ServicioWeb/DeleteMateriaDocenteRequest" message="tns:DeleteMateriaDocente"/>
<output wsam:Action="http://Service/ServicioWeb/DeleteMateriaDocenteResponse" message="tns:DeleteMateriaDocenteResponse"/>
</operation>
<operation name="getGradosByDocente">
<input wsam:Action="http://Service/ServicioWeb/getGradosByDocenteRequest" message="tns:getGradosByDocente"/>
<output wsam:Action="http://Service/ServicioWeb/getGradosByDocenteResponse" message="tns:getGradosByDocenteResponse"/>
</operation>
<operation name="getSeccionesByDocente">
<input wsam:Action="http://Service/ServicioWeb/getSeccionesByDocenteRequest" message="tns:getSeccionesByDocente"/>
<output wsam:Action="http://Service/ServicioWeb/getSeccionesByDocenteResponse" message="tns:getSeccionesByDocenteResponse"/>
</operation>
<operation name="ListAlumnosfromSeccion">
<input wsam:Action="http://Service/ServicioWeb/ListAlumnosfromSeccionRequest" message="tns:ListAlumnosfromSeccion"/>
<output wsam:Action="http://Service/ServicioWeb/ListAlumnosfromSeccionResponse" message="tns:ListAlumnosfromSeccionResponse"/>
</operation>
<operation name="getSeccionesSinNotas">
<input wsam:Action="http://Service/ServicioWeb/getSeccionesSinNotasRequest" message="tns:getSeccionesSinNotas"/>
<output wsam:Action="http://Service/ServicioWeb/getSeccionesSinNotasResponse" message="tns:getSeccionesSinNotasResponse"/>
</operation>
<operation name="getSeccionesConNotas">
<input wsam:Action="http://Service/ServicioWeb/getSeccionesConNotasRequest" message="tns:getSeccionesConNotas"/>
<output wsam:Action="http://Service/ServicioWeb/getSeccionesConNotasResponse" message="tns:getSeccionesConNotasResponse"/>
</operation>
<operation name="getSeccionesConNotasRevision">
<input wsam:Action="http://Service/ServicioWeb/getSeccionesConNotasRevisionRequest" message="tns:getSeccionesConNotasRevision"/>
<output wsam:Action="http://Service/ServicioWeb/getSeccionesConNotasRevisionResponse" message="tns:getSeccionesConNotasRevisionResponse"/>
</operation>
<operation name="getSeccionesConNotasRechazado">
<input wsam:Action="http://Service/ServicioWeb/getSeccionesConNotasRechazadoRequest" message="tns:getSeccionesConNotasRechazado"/>
<output wsam:Action="http://Service/ServicioWeb/getSeccionesConNotasRechazadoResponse" message="tns:getSeccionesConNotasRechazadoResponse"/>
</operation>
<operation name="validarEvaluacion">
<input wsam:Action="http://Service/ServicioWeb/validarEvaluacionRequest" message="tns:validarEvaluacion"/>
<output wsam:Action="http://Service/ServicioWeb/validarEvaluacionResponse" message="tns:validarEvaluacionResponse"/>
</operation>
<operation name="GetUsuarioIfExits">
<input wsam:Action="http://Service/ServicioWeb/GetUsuarioIfExitsRequest" message="tns:GetUsuarioIfExits"/>
<output wsam:Action="http://Service/ServicioWeb/GetUsuarioIfExitsResponse" message="tns:GetUsuarioIfExitsResponse"/>
</operation>
<operation name="GetCarnetIfExists">
<input wsam:Action="http://Service/ServicioWeb/GetCarnetIfExistsRequest" message="tns:GetCarnetIfExists"/>
<output wsam:Action="http://Service/ServicioWeb/GetCarnetIfExistsResponse" message="tns:GetCarnetIfExistsResponse"/>
</operation>
<operation name="GetListGrados_Info">
<input wsam:Action="http://Service/ServicioWeb/GetListGrados_InfoRequest" message="tns:GetListGrados_Info"/>
<output wsam:Action="http://Service/ServicioWeb/GetListGrados_InfoResponse" message="tns:GetListGrados_InfoResponse"/>
</operation>
<operation name="UpdateNombreGrado">
<input wsam:Action="http://Service/ServicioWeb/UpdateNombreGradoRequest" message="tns:UpdateNombreGrado"/>
<output wsam:Action="http://Service/ServicioWeb/UpdateNombreGradoResponse" message="tns:UpdateNombreGradoResponse"/>
</operation>
</portType>
<binding name="ServicioWebPortBinding" type="tns:ServicioWeb">
<soap:binding transport="http://schemas.xmlsoap.org/soap/http" style="document"/>
<operation name="GetMateriasWithoutDocenteBySeccion">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
<operation name="CancelarNotasRevision">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
<operation name="ValidarCodigoMateria">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
<operation name="ListarMateriasGrados">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
<operation name="CreateMateriaGrado">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
<operation name="ListMateriasNotInGrados">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
<operation name="SubirNotasRevision">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
<operation name="login">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
<operation name="GetNiveles">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
<operation name="GetGrados">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
<operation name="GetSecciones">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
<operation name="DeleteGrado">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
<operation name="CreateGrado">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
<operation name="CreateSeccion">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
<operation name="DeleteSeccion">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
<operation name="CreateUser">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
<operation name="CreateAlumno">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
<operation name="CreateMateria">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
<operation name="DeleteMateria">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
<operation name="ListMaterias">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
<operation name="GetListDocentes">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
<operation name="DeleteDocente">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
<operation name="getIdDocente">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
<operation name="getMisSecciones">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
<operation name="setEvaluacion">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
<operation name="DeleteEvaluacion">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
<operation name="ListEvaluaciones">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
<operation name="EvaluaciondeHoy">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
<operation name="DeleteMateriaGrado">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
<operation name="GetListGradosWithSecciones">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
<operation name="InsertarMateriaDocente">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
<operation name="GetMateriaDocente">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
<operation name="DeleteMateriaDocente">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
<operation name="getGradosByDocente">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
<operation name="getSeccionesByDocente">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
<operation name="ListAlumnosfromSeccion">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
<operation name="getSeccionesSinNotas">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
<operation name="getSeccionesConNotas">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
<operation name="getSeccionesConNotasRevision">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
<operation name="getSeccionesConNotasRechazado">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
<operation name="validarEvaluacion">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
<operation name="GetUsuarioIfExits">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
<operation name="GetCarnetIfExists">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
<operation name="GetListGrados_Info">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
<operation name="UpdateNombreGrado">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
</binding>
<service name="ServicioWeb">
<port name="ServicioWebPort" binding="tns:ServicioWebPortBinding">
<soap:address location="http://localhost:8080/ServidorWebNotas/ServicioWeb"/>
</port>
</service>
</definitions>